body {
    height: 100vh;
    background-image: url("running-background.jpg");
    background-size: cover;
    font-family: Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #023047;
    text-align: center;
}

.container {
    padding: 20px;
    max-width: 250px;
    background: whitesmoke;
    border: black 1px solid;
    border-radius: 30px;
    margin: 10vh auto;
}

.buttons {
    display: flex;
    justify-content: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin: 5px 10px;
    border-radius: 25px;
}

button:hover {
    filter: brightness(120%);
}

#increment-btn {
    background: #ffb703;
    box-shadow: #000000 1px 1px;
    text-shadow: grey 1px 0.5px;
}

#save-btn {
    background: #219ebc;
    box-shadow: #023047 1px 1px;
    text-shadow: grey 1px 0.5px;
}

